body{
background-color:black;
color: beige;
 font-family:"verdana",sans-serif;
  margin: 0px; 
}
 h1{
color:blue;
 font-size: 40px;
 }
p{
font-size: 15px;
}
header{
 border-bottom: solid 3x color rgb(203, 34, 203);
 margin: 2px;
padding: 10px;
color:rgb(36, 34, 34);
}
.chamada{
background-color: red; 
padding-bottom: 80px; 
padding-top: 80px; 
display: flex; 
justify-content: center; 
} 
.chamada-texto{ 
    margin-right: 8%; 
}
 img.{ 
    height: 200px; 
}
 .categoria-videos{ 
    display:flex; 
    overflow-x: auto; 
    gap: 15px; 
    padding:20xp; 
    scroll-behavior:smooth; 
} 
.categoria-video::-webkit-scrollbar{ 
    height:8px;
 
}
.categoria-video::-webkit-scrollbar-thumb{
background-color:rgb(rgb(251, 0, 255), rgb(210, 4, 31), rgb(255, 38, 0)) 
border-radius:4px; 
}
.categoria{ 
padding-left: 20px;
padding-right: 20px;
}